/* TODO change text-section to instead
    just use each item individually, this will let us delete an unneeded div */
* {
  margin: 1px;
  padding: 0;

  box-sizing: border-box;

  font-family: "Times New Roman", Times, serif;
}

.resume-container {
  width: 210mm;
  height: 297mm;

  padding: 10px;
}

.header {
  text-align: center;
}

.header > p {
  display: inline;
}

.text-row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;
}

.text-section {
  width: 95%;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.sub {
  font-style: italic;
  font-size: 0.85rem;
}

ul {
  margin-left: 30px;
}

hr,
ul > li,
.skills-text > p {
  margin-bottom: 5px;
}

hr {
  height: 1px;
  border: 0;
  background-color: black;
}

h2 {
  font-weight: lighter;
  margin-top: 15px;
}
